body {
    margin: 0 auto;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.progress{
    height: 10px;
    background-color: #fff;
    position: relative;
    margin: 0 0 5px 0;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #B8423E;
   animation: progress-animation 0.2s;
   -webkit-animation-fill-mode: forwards;
}

@keyframes progress-animation{
    0% { width: 0%; }
    100% { width: 100%}
}

.back-button {
    text-align: left;
}

nav {
    max-width: 860px;
    height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

nav p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    color: #0072BB;
}

.logo{
    max-height: 42px;
}

main {
    max-width: 860px;
    margin: 0 auto;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 3em;
    text-align: left;
    margin: 26px 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.8em;
}
main p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: left;
    margin: 10px 0 20px 0;
    line-height: 26px;
}

.attention {
    font-weight: bold;
}

button {
    padding: ;
    border-radius: 25px;
    border: none;
    background-color: #0872BB;
    width: 198px;
    height: 48px;
    color: white;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 42px;
}

button:hover{
    border-radius: 25px;
    border: none;
    background-color: #006098;
    width: 198px;
    height: 48px;
    color: white;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s;
    margin-top: 42px;
}

.recuse-button {
    background-color: #fff;
    color: #b8423e;
    font-weight: 600;
}

.recuse-button:hover {
    background-color: #fff;
    color: #b8423e;
    font-weight: 600;
    text-decoration: underline;
}